<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netsong7.mybatis.boardMapper">
	<!-- 전체 글보기 -->
	<select id="getTables" resultType="MasterBoardDto">
		select * from tblBoardMaster
	</select>
	
	<insert id="createBoard" parameterType="MasterBoardDto">
		insert into tblBoardMaster(board_disp_name, board_tab_name, board_create_date, board_reply, board_comment, board_upload) 
		values(#{board_disp_name}, #{board_tab_name}, now(), #{board_reply}, #{board_comment}, #{board_upload})
	</insert>
	
	<select id="getDuplicatedTableName" parameterType="String" resultType="String">
		select table_name from INFORMATION_SCHEMA.TABLES where  TABLE_SCHEMA = 'netsong7' and table_name=#{board_tab_name}
	</select>
	
	<!-- 테이블 삭제를 위한 기능 -->
	<select id="getBoardBasic" parameterType="int" resultType="int">
		select wr_num from tblBoardBasic where board_num=#{board_num}
	</select>
	
</mapper>






