<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.netsong7.mybatis.boardMapper">
	<!-- 전체 글보기 -->
	<select id="getTables" resultType="MasterBoardDto">
		select * from tblBoardMaster
	</select>
	
	<insert id="createBoard" parameterType="MasterBoardDto">
		insert into tblBoardMaster(board_disp_name, board_tab_name, board_create_date, board_reply, board_comment, board_upload) 
		values(#{board_disp_name}, #{board_tab_name}, now(), #{board_reply}, #{board_comment}, #{board_upload})
	</insert>
	
	<select id="getDuplicatedTableName" parameterType="String" resultType="String">
		select table_name from INFORMATION_SCHEMA.TABLES where  TABLE_SCHEMA = 'netsong7' and table_name=#{board_tab_name}
	</select>
	
	<!-- 테이블 삭제를 위한 기능 -->
	<select id="getBoardBasic" parameterType="int" resultType="int">
		select wr_num from tblBoardBasic where board_num=#{board_num}
	</select>
	
	<delete id="allDeleteBoard" parameterType="java.util.Map">
		  <foreach  item="item" collection="list">
           	delete from tblBoardComment where wr_num=#{item.list};
           	delete from tblBoardReply where wr_num=#{item.list};
           	delete from tblBoardUpload where wr_num=#{item.list};
        </foreach>
		delete from tblBoardBasic where board_num=#{list.board_num};
		delete from tblBoardMaster where board_num=#{list.board_num};
	</delete>
	
	<!-- 각 테이블의 리스트 페이지 -->
	<select id="getBoardList" parameterType="int" resultType="BasicBoardDto">
		select wr_num, wr_title, wr_writer, wr_date, wr_counter from tblBoardBasic where board_num=#{board_num}
	</select>
	
	<!-- 마스터 테이블의 정보 알아내기 -->
	<select id="getMasterTable" parameterType="int" resultType="MasterBoardDto">
		select * from tblBoardMaster where board_num=#{board_num}
	</select>
	
	<insert id="writeBoard">
		insert into tblBoardBasic(wr_title, wr_writer, wr_contents, wr_email, wr_home, wr_counter, wr_ip, wr_pass, wr_date, board_num) 
		values(#{wr_title}, #{wr_writer}, #{wr_contents}, #{wr_email}, #{wr_home}, 0, #{wr_ip}, #{wr_pass}, now(), #{board_num})
	</insert>
</mapper>






