<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">
	<context:annotation-config />
	<context:component-scan base-package="com.netsong7.board.multiboard.spring.controller" />
	
	<bean id="service" class="com.netsong7.board.multiboard.spring.service.ServiceImpl" />
	
	<bean id="createBoardController" class="com.netsong7.board.multiboard.spring.controller.CreateBoardController" />
	
	<!-- ViewResolver -->
	<bean class="org.springframework.web.servlet.view.ResourceBundleViewResolver">
		<property name="order" value="1"></property>
		<property name="basename" value="bundleview"></property>
	</bean>
</beans>
